{{> default/header }}

<body>
{{> default/top_navigation }}
<!-- Page Content -->
<div class="container">
    {{> default/messages}}
   {{{ body }}}
    <!-- /.row -->

    <hr>

    {{> default/footer }}
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/vendor/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/js/bootstrap.min.js"></script>

</body>

</html>
